.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: calc(var(--sidebar-width) + var(--screen-padding));
    background: var(--bg-color);
    border-right: 1px solid var(--border-primary);
    padding: 32px 0 32px var(--screen-padding);
    position: relative;
    transition: 300ms;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
    padding: 32px 10px;
}