.app.dark {
    --bg-color: #0F0F0F;
    --bg-island-color: #303030;
    --bg-island-secondary: #474747;

    --border-primary: #FFFFFF; 

    --primary-color: #FFFFFF;
    --secondary-color: #CED4DC;
    --primary-on-color-color: #000000;
    --secondary-on-color-color: #757575;
}