.app.dark {
    --bg-color: #0F0F0F;
    --bg-island-color: #303030;
    --bg-island-secondary: #474747;
    --border-primary: #FFF; 
    --primary-color: #FFF;
    --secondary-color: #CED4DC;
    --primary-on-color-color: #000;
    --secondary-on-color-color: #757575;
}