.app.light {
    --bg-color: #FFFFFF;
    --bg-island-color: #F5F6F8;
    --bg-island-secondary: #F9FBFF; 

    --border-primary: #000000; 

    --primary-color: #000000;
    --secondary-color: #757575;
    --primary-on-color-color: #FFFFFF;
    --secondary-on-color-color: #CED4DC;
}