.ThemeSwitcher{
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 12px 16px;
    border-radius: 24px;
    border: none;
    background: none;
}

.light{
    border: 1px solid #000;
}

.dark{
    border: 1px solid #FFF;
}

.sliderWrapper{
    display: flex;
    width: 50px;
    height: 22px;
    border-radius: 11px;
    align-items: center;
    padding: 0 2px;
}

.sliderDot{
    width: 16px;
    height: 16px;
    border-radius: 8px;
    transition: 300ms;
}

.sliderDot.light{
    background: #000;
    margin-left: 28px;
}

.sliderDot.dark{
    background: #FFF;
    margin-left: 0;   
}